:root {
  --main-bg-color: cyan;
}

@font-face {
  font-family: "MinionVariableConcept-Italic";
  src: url(../../assets/fonts/MinionVariableConcept-Italic.otf);
}
.hero {
  background-image: url(../../assets/img/fachada.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.hero:after {
  content: "Hello";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero__content {
  z-index: 11;
}
.hero__content h1 {
  filter: invert(#fff);
  color: #fff;
  font-size: 7rem;
  font-family: "MinionVariableConcept-Italic";
}

.social {
  position: fixed;
  padding-left: 90%;
  z-index: 11;
  display: flex;
  flex-direction: column;
  right: 40px;
}

.social ul {
  list-style: none;
}
.social ul li {
  margin-top: 3rem;
}
.social ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  margin: 10px 0 0;
}
.social ul li a:hover {
  background-color: #fff;
}
/* .social ul li a:hover .FaInstagram.FaFacebook.ImWhatsapp {
  background-color: #000;
  max-width: 40px;
  filter: invert(1);
  mix-blend-mode: difference;
} */
.FaInstagram:hover {
  color: #c13584;
}
.FaFacebook:hover {
  color: #3b5998;
}
.ImWhatsapp:hover {
  color: #00e676;
}

.typewriter {
  position: absolute;
  transform: translate(10rem, 0rem);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: transparent;
  font-size: 1.5rem;
}

.typewriter:before {
  content: attr(dataText);
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  border-right: 1px solid #fff;
  animation: type 6s steps(18) infinite;
  white-space: nowrap;
}

@keyframes type {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
    animation: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
}
