@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap");

:root {
  --main-bg-color: cyan;
}

@font-face {
  font-family: "MinionVariableConcept-Italic";
  src: url(../../assets/fonts/MinionVariableConcept-Italic.otf);
}
/* Utilizamos la imagen como fondo */
.hero {
  background-image: url(../../assets/img/fachada.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: absolute; */
  width: 100%;
  height: 100vh;
}
/* Opacamos el fondo */
.hero:after {
  content: "Hello";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* Texto encima de la imagen */
.hero__content {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  flex-direction: column;
}
.hero__content h1 {
  /* filter: invert(#fff); */
  position: relative;
  /* bottom: 30px; */
  color: #fff;
  font-size: 7rem;
  justify-content: center;
  font-family: "EB Garamond", serif;
  font-weight: 400;
}

.hero__content h2 {
  position: relative;
  right: 10%;
}
/* Le damos efecto como si estuviese escribiendo */
.typewriter {
  position: absolute;
  transform: translate(10rem, 0rem);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: transparent;
  font-size: 1.5rem;
}

.typewriter:before {
  content: attr(dataText);
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  border-right: 1px solid #fff;
  animation: type 6s steps(18) infinite;
  white-space: nowrap;
}

@keyframes type {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
    animation: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
}

/* Redes Sociales */
.social {
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.social ul {
  list-style: none;
}

.social ul li {
  padding: 30px;
}
.social ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  z-index: 1111;
  /* vertical-align: bottom; */
  /* color: #000; */
  /* width: 40px;
  height: 0px; */
  /* border: none solid #000; */
  /* margin: 10px 10px 10px;
  padding: 3px; */
}

/* .social ul li a:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
} */
