@font-face {
  font-family: "Southland";
  src: url(../../assets/fonts/Southland.ttf);
}

:root {
  --main-bg-color: cyan;
}

nav {
  position: sticky;
  width: 100%;
  display: block;
  height: 100px;
  background-color: #1b1b1b;
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav .logo {
  position: absolute;
  color: #fff;
  font-family: "Southland";
  float: left;
  padding: 20px 60px;
  font-size: 80px;
  line-height: 70px;
  /* display: none; */
}
nav ul {
  position: relative;
  float: right;
  list-style: none;
  top: 15px;
  margin-right: 60px;
  /* text-align: left; */
}
nav ul li {
  display: inline-block;
  background-color: #1b1b1b;
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 70px;
  font-size: 22px;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: var(--main-bg-color);
  box-shadow: 0 0 5px #c5bfb9, 0 0 5px #c5bfb9;
  border-radius: 22px;
}

nav ul ul {
  position: absolute;
  opacity: 0;
  border-top: 1px solid var(--main-bg-color);
  visibility: hidden;
  transition: 0.6s;
}
nav ul ul ul {
  border-top: none;
}
nav ul li:hover > ul {
  position: absolute;
  top: 90px;
  opacity: 1;
  visibility: visible;
  transition: 0.6s;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  text-align: center;
  display: list-item;
  border-bottom: 1px solid #fff;
}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul li a:hover {
  box-shadow: none;
  color: var(--main-bg-color);
}
.logo2 {
  position: sticky;
  font-family: "Southland";
  border-top: 3px solid var(--main-bg-color);
  font-size: 60px;
  line-height: 70px;
}

.faAngleDown {
  color: #fff;
}

.faBars {
  display: none;
}

@media (min-width: 768px) and (max-width: 1042px) {
  nav {
    /* position: sticky; */
    width: 100%;
    display: block;
    height: 150px;
    background-color: #1b1b1b;
  }
  nav .logo {
    position: relative;
    padding: 30px 60px;
    line-height: 20px;
    flex-wrap: wrap;
    /* display: none;*/
  }
  nav ul {
    margin-top: -30px;
    margin-right: 0;
    float: right;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  nav ul {
    display: none;
  }
  .faBars {
    display: block;
    color: red;
  }
}
