@font-face {
  font-family: "Southland";
  src: url(../../assets/fonts/Southland.ttf);
}
/* Se define la variable para el color */
:root {
  --main-bg-color: cyan;
}

nav {
  position: static;
  width: 100%;
  height: 6rem;
  background-color: #1b1b1b;
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
.logo {
  position: absolute;
  color: #fff;
  font-family: "Southland";
  float: left;
  padding: 1.5rem 2rem;
  font-size: 6rem;
  line-height: 4.3rem;
  display: block;
  /* z-index: 1; */
}
nav ul {
  position: relative;
  float: right;
  list-style: none;
  top: 1.3rem;
  margin-right: 60px;
}
nav ul li {
  display: inline-block;
  background-color: rgba(27, 27, 27, 0);
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 70px;
  font-size: 1.5rem;
  padding: 8px 16px;
}

nav ul li a:hover {
  color: var(--main-bg-color);
  box-shadow: 0 0 5px #c5bfb9, 0 0 5px #c5bfb9;
  border-radius: 22px;
}

nav ul ul {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  z-index: 1;
}

nav ul li:hover > ul {
  position: absolute;
  top: 90px;
  opacity: 1;
  visibility: visible;
  transition: 0.6s;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  text-align: center;
  display: list-item;
  border-bottom: 0.1rem solid #fff;
  border-radius: 0.5rem;
  background-color: rgb(27, 27, 27);
}

nav ul ul li a {
  line-height: 4rem;
}

nav ul ul li a:hover {
  box-shadow: none;
  border-top: 0.3rem solid var(--main-bg-color); /*Efecto azul curvo*/
}
.logo2 {
  font-family: "Southland";
  font-size: 4rem;
  line-height: 90px;
}
.logo2:hover {
  border-top: 0.3rem solid var(--main-bg-color);
}
.faAngleDown {
  color: #fff;
  margin-left: -0.6rem;
}
.faBars {
  visibility: hidden;
}

@media screen and (max-width: 1100px) {
  nav {
    height: 9rem;
  }
  nav ul {
    clear: both;
    margin: 0 auto;
    width: 100%;
    top: -3.3rem;
    text-align: center;
  }
  .logo {
    position: relative;
    display: inline-block;
    /* z-index: 1; */
  }
}

@media screen and (max-width: 868px) {
  nav {
    height: 6rem;
  }
  nav ul {
    display: none;
  }
  .faBars {
    visibility: visible;
    color: #fff;
    font-size: 3rem;
    float: right;
    margin: 1.7rem 2rem;
  }
}
