@font-face {
  font-family: "Southland";
  src: url(../../assets/fonts/Southland.ttf);
}
/* Se define la variable para los colores principales */
:root {
  --primary: #1b1b1b;
}

:root {
  --secondary: #fff;
}
/* Comienza Estilos para la barra de navegación */

header {
  position: absolute;
  width: 100%;
  height: 3rem;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1111;
}
.logo {
  position: relative;
  color: #fff;
  left: 20px;
  font-family: "Southland";
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  height: 8rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 60px;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

nav ul li a:hover {
  background-color: #fff;
  color: #000;
}
.dropdown {
  background-color: #fff;
  padding: 15px;
}
.dropdown:after {
  content: " ▾";
  color: #000;
}

.dropdown:hover::after {
  color: #000;
  background-color: #fff;
}
nav ul ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
}

nav ul :hover > ul {
  opacity: 1;
  position: absolute;
  top: 3rem;
  width: 143px;
  height: 6rem;
  background-color: #000;
  transition: 1s;
}

nav ul ul li {
  border-top: 1px solid #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
/* Termina Estilos para la barra de navegación */
