.encabezado {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.encabezado_item {
  display: flex;
  justify-content: center;
}
.encabezado_item h1 {
  /* position: absolute; */
  color: #fff;
  margin-top: 40px;
  font-size: 20px;
}
.encabezado_item p {
  position: absolute;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 200px;
}

.grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  border: solid 1px rgb(255, 255, 255);
  color: #fff;
}

.grid_item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
