.designer {
  background-color: #040404;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -1111;
}
.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-left: 10%; */
  width: 100%;
  height: 100%;
}
.paragraph h1 {
  position: absolute;
  color: #fff;
  font-size: 4rem;
  z-index: 1;
  /* bottom: 200px; */
  top: 20%;
  left: 5%;
}
.paragraph p {
  position: absolute;
  font-size: 1.7rem;
  width: 50%;
  left: 5%;
  color: #fff;
  margin-top: 100px;
  text-align: justify;
}
picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  display: flex;
  /* margin-top: -20%; */
}

/* .App:not(.App) {
  display: block;
} */
