* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #000;
}
.App {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  width: 80%;
  height: 2000px;
  top: 10rem;
  border: 4px solid red;
}

@media (min-width: 368px) {
  .container {
    height: auto;
  }
}
