* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #000;
}
.App {
  display: flex;
  justify-content: center;
}

.container {
  position: absolute;
  width: 80%;
  height: 100vh;
  top: 3rem;
  /* margin: 0 auto; */
  background-color: #000;
}

@media (min-width: 368px) {
  .container {
    height: auto;
  }
}
